{:kotoba.app/id "cloud.itonami.isic-7320", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreiekvlkl6dfo37cukslkeyr36i5xzy6nryh6vi4xr3zbtlsgi3bsge", :kotoba.app/embed-url "ipfs://bafkreiekvlkl6dfo37cukslkeyr36i5xzy6nryh6vi4xr3zbtlsgi3bsge", :published {:archive "https://kotobase.net/ipfs/bafkreiekvlkl6dfo37cukslkeyr36i5xzy6nryh6vi4xr3zbtlsgi3bsge", :size 75510, :put-status 201, :get-status 200, :at "2026-08-15T13:54:24.151Z"}}
